* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none; }

body {
  width: 100%;
  height: 100%;
  font-size: 62.5%; }

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 0.8rem;
  margin-bottom: 0.8rem; }

header > img {
  width: 30%;
  margin-left: 0.9rem; }

header > div:nth-of-type(1) {
  font-size: 1.8rem;
  margin-top: 1rem; }

header > div:nth-of-type(2) {
  display: flex;
  font-size: 1.1rem;
  text-align: center;
  color: #999;
  margin-right: 0.9rem; }

.icon-user {
  font-size: 2.25rem;
  color: #999999; }

.icon-nav {
  font-size: 1.65rem;
  color: #999999; }

header > div:nth-of-type(2) > div:nth-of-type(1) {
  margin-right: 0.9rem; }

header > div:nth-of-type(2) > div:nth-of-type(2) > p {
  margin-top: 0.7rem; }

.aDiv {
  width: 100%; }

.aDiv > img {
  width: 100%; 
  }
 .odiv{
    width: 100%;
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-bottom: 3.0rem;
    div:nth-of-type(1){
        width: 50%;
        color: #000;
        margin: 1.8rem 0rem;
        position: relative;
        text-align: center;
        span:nth-of-type(2){
          font-size: 1rem;
           position: absolute;
           top: 5rem;
           left: -0.1rem;
        }
    }
    div:nth-of-type(2){
         width: 50%;
        color: #000;
        margin: 1.8rem 0rem;
        position: relative;
        text-align: center;
        span:nth-of-type(2){
          font-size: 1rem;
           position: absolute;
           top: 5rem;
           left: 3rem;
        }
    }
}
.icon-location{
    font-size: 2.9rem;
    color:white;
    padding: 1rem;
    background: #12BF7C;
    border-radius: 50%;
     
}
.odiv>div>.icon-hot-line{
    font-size: 2.9rem;
    color: white;
    padding: 1rem;
    background: #12BF7C;
    border-radius: 50%;
} 
.pone{
    width: 100%;
    height: 10rem;
    background: #eee;
    text-align: center;
    img{
        width: 5rem;
        height: 5rem;
        margin-top: 1.25rem;
        margin-bottom: 1.25rem;
    }
}
.hr{
    width: 100%;
    height: 0.9rem;
    background: #F4F4F4;
    border: none;
}
.div9{
    width: 100%;
    margin-top: 1.8rem;
    margin-bottom: 1.8rem;
    font-size: 1.4rem;
    color: #333;
    text-indent: 2em;
}
.lianxi{
    width: 100%;
    display: flex;
    justify-content: center;
    .server{
        display: flex;
        margin-top: 3rem;
        p{
            font-size: 1.8rem;
            color: #39C893;
        }
        span{
            margin-left: 1rem;
            margin-top: 0.5rem;
        }
    }
    .icon-top{
       font-size: 2rem;
       padding: 0.27rem;
       border:0.1rem solid #dedede;
       border-radius: 1.8rem;
       position: absolute;
       left: 85%;
       color: #9c9c9c;
    }
}
.chuping{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 1.4rem;
    span:nth-child(1){
        color: #3ACA92;
    }
}
footer{
    margin-bottom: 10rem;
}
footer>div{
    width: 100%;
    height: 5.0rem;
    background: white;
    text-align: center;
    line-height: 5.0rem;
    color: #EEEEEE;
    font-size: 1.1rem;
}

footer>img{
    width: 100%;
}
